mixin sNews()
	// start sNews
	+b.SECTION.sNews.section#sNews&attributes(attributes)
		.container.fadeIn.wow(data-wow-duration='.4s' data-wow-delay='.3s')
			+b.arrow
				img(loading="lazy" src="img/@2x/arrow-img.png" alt="")
			+b.section-title.text-center
				h2 Новости
				p Что с нами происходит и кому дарят наши букеты?
			+e.slider
				.swiper-container.news-slider-js
					.swiper-wrapper
						+newsItem(1)
							h4 MEN'STORY
							p Мужской! Концептуальный! День MEN'STORY
						+newsItem(2)
							h4 Outdoor Christmas Market 2017
							p в Beer and Brut
						+newsItem(3)
							h4 МАСТЕР-КЛАСС
							p новогодний венок
					.news-pugin-js.news-pugin.d-lg-none
	// end sNews

mixin newsItem(imgNum)
	.swiper-slide
		+e.A.item.paint-black-js(href=`img/@2x/news-img-${imgNum}-1.jpg` data-fancybox=`newsImg${imgNum}`)
			+pic(`news-img-${imgNum}-1.jpg`)(class="sNews__item-img")
			.d-none
				div(href=`img/@2x/news-img-${imgNum}-2.jpg` data-fancybox=`newsImg${imgNum}`)
					img(loading="lazy" src=`img/@2x/news-img-${imgNum}-2.jpg` alt="")
				div(href=`img/@2x/news-img-${imgNum}-3.jpg` data-fancybox=`newsImg${imgNum}`)
					img(loading="lazy" src=`img/@2x/news-img-${imgNum}-3.jpg` alt="")
			+e.txt
				block
